
.Main_container {
	margin-top: 5px;
	margin-bottom: 5px;
	/* margin-left: 5px; */
	/* margin-right: 5px; */
	background-color: #C9D8E1;
}

/* Menu starts */

.menubar {
	
	background-color: blue;
	border-radius: 5px;
	padding: 2px;
	color: white;
	height: 30px;
}



[class*="menucol-"] {
  float: center;
  padding: 1px;
}

.menucol-1 {width: 10%;}
.menucol-2 {width: 10%;}
.menucol-3 {width: 10%;}
.menucol-4 {width: 10%;}
.menucol-5 {width: 10%;}
.menucol-6 {width: 10%;}

.menubar-items a {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	padding: 5px;

}

.mobilebar {
display:none;	
	
}

@media screen and (max-width: 600px) {
/* menu  */
	.menubar {
		display: none;	
	}

	.mobilebar {
		display: block;
		padding: 12px 16px;
		background-color: #2874A6 ;
		padding: 2px;
		height: 30px;
		color:white;
	}
	
	.mobilebar-items{
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 50px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	.mobilebar-items a {
		
		margin-left: 4px;
		padding: 2px;
		font-size:15px;
		float: left;
		margin-top: 4px;
		float: left;
		color: blue;
		text-decoration: none;
		display: block;
	}


	.dropdown{
	  position: relative;
	  display: inline-block;
	  margin-top:3px;
	  font-size:20px;
	  margin-left:10px;
	}
	.dropdown:hover .mobilebar-items{
		display: block;
		background-color: white;
		
	}

	[class*="framecol-"] {
	  float: center;
	  padding: 1px;
	}

	.framecol-1 { width: 100%;}
	.framecol-2 { width: 100%;}
	.framecol-3 { width: 100%;}

	.frame {
		border: none;
		height: 500px;

	}
	
	
	.form_container label {  
	text-align: center;  
	font-weight: normal; 
	text-transform: lowercase;  
	font-family: 'Bangers', cursive; 
	margin-left: 1px;
	font-size: 20px;
	color: black;
	
	
}  
	.form_container input{
		padding: 2px;
		border: 2px solid #aaa;  
		border-radius: 4px;  
		margin: 4px 4px ;  
		outline: none;  
		box-sizing: border-box;  
		transition: 0.3s;
		font-size: 16px;
		color: black;
	
}
.form_container{
		margin: 10px;
		height: 500px;
		padding-top: 20px;
		padding-left: 10px;
		margin-top: 20px;
}

}


/* menu ends */

.body_container {
	padding: 5px;
	background-color:white;
	margin-left: 15px;
	margin-right:15px;
}
@media (min-width: 600px)  {
	[class*="framecol-"] {
	  float: center;
	  padding: 1px;
	}

	.framecol-1 { width: 36%;}
	.framecol-2 { width: 36%;}
	.framecol-3 { width: 25%;}

	.frame {
		border: none;
		height: 800px;
	}
}
.footer_container {
	background-color: #a8adac;
	color: white;
	text-align: center;
	padding: 5px;
}


/* Notifcations */
.nh1  {
	/* background-color: #4c494d; */
	border-radius: 10px;
	color: red;
	text-align:left;
	font-size: 8px;
	font-family: Verdana;
	padding:0.5px;
	margin-left: 50px;
}

.list li a {
	text-decoration: none;
	font-size: 15px;
	font-family: 'Times New Roman', serif;
}
.list li {
	border-style: hidden  hidden ridge hidden;
}






/* Results */
.rh1  {
	/* background-color: #4c494d; */
	border-radius: 10px;
	color: red;
	text-align:left;
	font-size: 8px;
	font-family: Verdana;
	padding:0.5px;
	margin-left: 50px;
	}

/*FLAMES*/

.fh1  {
	
	border-radius: 10px;
	color: white;
	text-align:center;
	font-size: 8px;
	font-family: Verdana;
	margin-top: 30px;
	
}
	
.bodystyle{
	background-image: url("Pictures/fl_backgrond.jpg");
	background-repeat: no-repeat;
	background-size:  100% 100%;
	border-radius:10px;
	border: solid;
}
.form_container{
		margin: 20px;
		height: 500px;
		padding-top: 30px;
		padding-left: 30px;
		margin-top: 20px;
}

.form_container label {  
	text-align: center;  
	font-weight: normal; 
	text-transform: lowercase;  
	font-family: 'Bangers', cursive; 
	margin-left: 5px;
	font-size: 20px;
	color: black;
	
	
}  
.form_container input{
	padding: 2px;
	border: 2px solid #aaa;  
	border-radius: 4px;  
	margin: 8px 8px ;  
	outline: none;  
	box-sizing: border-box;  
	transition: 0.3s;
	font-size: 16px;
	color: black;
	
}

.form_container input:focus {  
  border-color: dodgerBlue;  
  box-shadow: 0 0 8px 0 dodgerBlue;  
} 

.form_container button {
	padding: 2px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	font-family: 'Bangers', cursive; 
	margin-left: 10px;
	margin-top: 10px;
	
}